@using RentOfPremises.Models
@using RentOfPremises.ViewModels
@using RentOfPremises.ViewModels.Organizations
@model ProcedureViewModel
@addTagHelper "*, RentOfPremises"
@{
    ViewData["Title"] = "Debtors";
}
<h1>
    Полная информация по организациям-должникам по аренде на указанную дату
</h1>
<form method="get">
    <div class="form-inline"><label class="control-label">Дата: </label>
        @Html.TextBox("d", Model.FilterViewModel.SecondDate,
                htmlAttributes: new { @class = "form-control", @type = "date"})
        <input type="submit" value="Применить" class="btn btn-default" />
    </div>
</form>
<br />
<div class="cell">
    <table class="table"  id="data">
        <thead>
            <tr>
                <th>Номер организации</th>
                <th>Название организации</th>
                <th>Почтовые данные</th>
                <th>Номер помещения</th>
                <th>Здание</th>
                <th>Дата въезда</th>
                <th>Дата выезда</th>
            </tr>
        </thead>
        <tbody>
            @foreach (object[] u in Model.Objects)
            {
            <tr>
                <td>@u[0]</td>
                <td>@u[1]</td>
                <td>@u[2]</td>
                <td>@u[3]</td>
                <td>@u[4]</td>
                <td>@u[5]</td>
                <td>@u[6]</td>
            </tr>
            }
        </tbody>
    </table>
    <page-link page-model="@Model.PageViewModel" page-action="Debtors"
               page-url-d="@(Model.FilterViewModel.FirstDate)"></page-link>
</div>
