@using RentOfPremises.Models
@using RentOfPremises.ViewModels
@using RentOfPremises.ViewModels.Organizations
@model IndexViewModel
@addTagHelper "*, RentOfPremises"
@{
    ViewData["Title"] = "Organizations";
}
<h1>Список организаций</h1>
<form method="get">
    <div class="form-inline">
        @*<label class="control-label">Номер: </label>
            @Html.TextBox("Id", Model.IndexViewModel.SelectedId, htmlAttributes: new { @class = "form-control" })*@

        <label class="control-label">Название: </label>
        @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Название</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.MailSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Почтовые данные</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (Organization u in Model.Organizations)
    {
        <tr><td>@u.Id</td><td>@u.Name></td><td>@u.Mail</td></tr>
    }
    </tbody>
</table>

<page-link page-model="@Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-company="@(Model.FilterViewModel.SelectedId)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
